#about {
    padding: 100px 0;

    .main {
        display: flex;
        justify-content: space-between;

        .part_1 {
            width: 50%;

        }

        .part_2 {
            width: 40%;

            img {
                width: 100%;
            }

            .pos {
                position: relative;
                z-index: 2;
            }

            .pos_2 {
                position: absolute;
                right: 25px;
                top: 25px;
                z-index: 999;
            }
        }
    }
}