#compani{
    background-color: #55E6A5;
    padding: 100px 0;
    .start{
        text-align: center;
        .colo_2{
            color: #fff;
        }
        .colo{
            color: #000;
        }
    }
    .main{
        padding-top: 50px;
        display: flex;
        .box{
          width: 264px;  
          
        }
    }
}