#portfolio {
    padding: 100px;

    .start {
        padding-bottom: 30px;
    }

    .image {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        .img_1 {
            width: 870px;
        }

        .img_2 {
            width: 430px;
        }

        img {
            width: 100%;
        }
    }

    .image_2 {
        display: flex;
        justify-content: space-between;

        .img_3 {
            width: 636px;
        }

        img {
            width: 100%;
        }
    }
}